*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 150px auto 0;
    max-width: 600px;
}
form{
    padding: 20px;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
}
form input {
    flex: 1;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #eee;
    outline: none;
    border-radius: 15px;
    /* width: 100%; */
}

form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 20px;
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
}

ul{
    list-style: none;
}
.taskItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    padding: 10px;
    background-color: #fff;
}
.task-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
    width: 95%;
}
.icons {
    font-size: 24px;
    cursor: pointer;
}
.icons i {
    margin: 5px;
    padding: 2px;
}
.task {
    display: flex;
    align-items: center;
    font-size: 21px;
}
span {
    margin-right: 10px;
}